.add-student {
    display: flex;
    justify-content: center;

    &__block {
        min-width: 748px;
    }
    &__header {
        background-color: $colorMidle;
        min-height: 72px;
        min-width: 600px;
        text-align: center;
        border-radius: 20cap 20cap 0 0;
    }

    &__title {
        font-size: 2rem;
        color: $colorDarck;
    }
    &__content {
        background-color: $colorLight;
        max-width: 748px;
        padding: 2% 4%;
        min-height: 738px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        border-radius: 0 0 2cap 2cap;
        border: 1px solid $colorMidle;
        
    }
    &__student-info {
       
    }
    &__input {
        min-width: 534px;
        min-height: 50px;
        border: 1px solid $colorMidle;
        border-radius: 2cap;
        padding-left: 8px;
        font-size: 1rem;
        font-family: Lato;
        color: $colorDarck;
        margin-bottom: 16px;
    }
    &__subtitle {
        font-size: 1.5rem;
        color: $colorDarck;
        text-align: center;
        padding: 0px 4px 16px;
    }
    &__btn-block {
        display: flex;
        justify-content: space-evenly;
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 260px;
        align-items: right;
        height: 60px;
        background-color: $colorMidle;
        border: 1px solid $colorDarck;
        border-radius: 10cap;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: Lato;
        color: $colorDarck;
        text-align: center;
    }
    &__btn:hover {
        background-color: $colorHover;
        color: $colorTextHover;
        transition: 0.5s;
    }
}
@media (max-width: 480px) {
    .add-student {
        flex-wrap: wrap;
    
        &__block {
            min-width: 390px;
        }
        &__header {
            
            min-height: 60px;
            min-width: 388px;
           
        }
    
        &__content {
            
            max-width: 390px;
            
            
        }
        
        &__input {
            min-width: 300px;
            
        }
        
        &__btn {
            width: 150px;
            
        }
        
    } 

}