@import 'vars';



.list-students {
    display: flex;
    flex-direction: column;
    

    &__header {
        background-color: $colorMidle;
        min-height: 72px;
        min-width: 600px;
        text-align: center;
        border-radius: 20cap 20cap 0 0;
    }

    &__title {
        font-size: 1.6rem;
        color: $colorDarck;
    }

    &__content {
        background-color: $colorLight;
        min-width: 500px;
        padding: 2% 4%;
        min-height: 356px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        border-radius: 0 0 2cap 2cap;
        border: 1px solid $colorMidle;
        
    }

    &__block-students {
        min-height: 180px;
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 45% 45%;
        gap: 30px;
    }

    &__pagination {
        min-height: 20px;
    }

      
    &__btn {
        display: flex;
        justify-content: end;
    }


    &__add-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 260px;
        align-items: right;
        height: 80px;
        background-color: $colorMidle;
        border: 1px solid $colorDarck;
        border-radius: 10cap;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: Lato;
        color: $colorDarck;
        text-align: center;
    }
    &__add-btn:hover {
        background-color: $colorHover;
        color: $colorTextHover;
        transition: 0.5s;
    }
}

.financial-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;

    &__header{
        background-color: $colorMidle;
        min-height: 72px;
        min-width: 500px;
        text-align: center;
        border-radius: 20cap 20cap 0 0;
    }

    &__title {
        font-size: 1.6rem;
        color: $colorDarck;
    }

    &__content {
        background-color: $colorLight;
        min-width: 500px;
        padding: 2% 4%;
        min-height: 188px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        border-radius: 0 0 2cap 2cap;
        border: 1px solid $colorMidle;
        align-items: center;
        justify-content: space-between;
        
    }
    &__subtitle {
        font-size: 1.5rem;
        color: $colorDarck;
        min-width: 300px;
    }
    &__text{
        font-size: 24px;
        min-width: 200px;
        &_green {
            color: $colorGreen;
        }
        &_red {
            color: $colorRed;
        }
    }
}

.schedule {
    display: flex;
    flex-direction: column;
    
    
    &__header{
        background-color: $colorMidle;
        min-height: 72px;
        min-width: 500px;
        text-align: center;
        border-radius: 20cap 20cap 0 0;
    }

    &__title {
        font-size: 1.6rem;
        color: $colorDarck;
    }

    &__content {
        background-color: $colorLight;
        min-width: 728px;
        padding: 2% 4%;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-radius: 0 0 2cap 2cap;
        border: 1px solid $colorMidle;
        align-items: center;
        justify-content: space-between;
        
    }
    &__btn {
        display: flex;
        justify-content: end;
    }
    

    &__add-lesson {
        justify-content: right;
        width: 328px;
        align-items: right;
        height: 64px;
        background-color: $colorMidle;
        border: 1px solid $colorDarck;
        border-radius: 10cap;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: Lato;
        color: $colorDarck;
    }
    &__add-lesson:hover {
        background-color: $colorHover;
        color: $colorTextHover;
        transition: 0.5s;
    }
}

.list-tasks {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
    
    &__header{
        background-color: $colorMidle;
        min-height: 72px;
        min-width: 600px;
        text-align: center;
        border-radius: 20cap 20cap 0 0;
    }

    &__title {
        font-size: 2rem;
        color: $colorDarck;
    }

    &__content {
        background-color: $colorLight;
        min-width: 728px;
        padding: 2% 4%;
        min-height: 312px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-radius: 0 0 2cap 2cap;
        border: 1px solid $colorMidle;
        align-items: center;
        justify-content: space-between;
        
    }
    &__btn {
        display: flex;
        justify-content: end;
    }

    &__add-task {
        justify-content: right;
        width: 328px;
        align-items: right;
        height: 64px;
        background-color: $colorMidle;
        border: 1px solid $colorDarck;
        border-radius: 10cap;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: Lato;
        color: $colorDarck;
    }
}

.lesson {
    display: flex;
    text-align: center;
    align-items: center;
    min-height: 64px;
    min-width: 700px;
    
    
    font-size: 1.2rem;
    color: $colorDarck;

    &__time {
        border-radius: 2cap 0 0 2cap;
        min-width: 180px;
        min-height: 50px;
        border: 1px solid $colorDarck;
        background-color: $colorMidle;
        align-items: center;
    }

    &__title {
        min-width: 324px;
        min-height: 50px;
        border: 1px solid $colorDarck;
        
    }
    &__paid {
        min-width: 180px;
        min-height: 50px;
        font-size: 1rem;
        border-radius: 0 3cap 3cap 0;
        border: 1px solid $colorDarck;
    }
}

.task {
    display: flex;
    text-align: center;
    align-items: center;
    min-height: 64px;
    min-width: 700px;
    
    
    font-size: 1.2rem;
    color: $colorDarck;

    &__number {
        border-radius: 2cap 0 0 2cap;
        min-width: 88px;
        min-height: 50px;
        border: 1px solid $colorDarck;
        background-color: $colorMidle;
        align-items: center;
    }

    &__title {
        min-width: 416px;
        min-height: 50px;
        border: 1px solid $colorDarck;
        
    }
    &__complited {
        min-width: 180px;
        min-height: 50px;
        font-size: 1rem;
        border-radius: 0 3cap 3cap 0;
        border: 1px solid $colorDarck;
    }
}

.student {
    display: flex;
    flex-direction: column;
    background-color: $colorMidle;
    font-size: 1rem;
    color: $colorDarck;
    min-height: 100px;
    max-width: 260px;
    border: 1px solid $colorDarck;
    border-radius: 10cap;
    text-align: center;
    margin-bottom: 16px;
}
.student:hover {
    background-color: $colorHover;
    color: $colorTextHover;
    transition: 0.5s;
}

@media (max-width: 480px) {
    .list-students {
        min-width: 100vw;
        &__header {
            min-height: 60px;
            min-width: 300px;
        }
    
        &__title {
            font-size: 1.4rem;
        }
    
        &__content {
            min-width: 300px;
            gap: 16px;    
        }
    
        &__block-students {
            gap: 16px;
        }
    
        &__add-btn {
            width: 150px;
            height: 60px;
            font-size: 1rem;
        }
        
    }
    .financial-block {
        max-width: 95vw;
        min-width: 390px;
        align-items: center;
    
        &__header{
            min-height: 60px;
            max-width: 95wv;
            min-width: 390px;
        }
    
        &__title {
            min-width: 390px;
        }
    
        &__content {
            flex-direction: column;
            min-width: none;
            max-width: 95wv;
            gap: 16px;
        }
        &__subtitle {
            min-width: 150px;
        }
        &__text{
            font-size: 24px;
            min-width: 150px;
        }
    }
    .schedule {
        &__header{
            min-height: 60px;
            min-width: 390px;
        }
        &__title{
            font-size: 1.2rem;
        }
        &__content {
            background-color: $colorLight;
            min-width: 390px;
            max-width: 95vw;
            min-height: none;
            gap: 16px;    
        }
        &__add-lesson {
            width: 200px;
            height: 52px;
        }
    }
    .lesson {
        min-height: 52px;
        min-width: 390px;
        font-size: 1rem;
    
        &__time {
            min-width: 90px;
            min-height: 40px;
            font-size: 0.9rem;
        }
    
        &__title {
            min-width: 180px;
            min-height: 40px;
            
        }
        &__paid {
            min-width: 90px;
            min-height: 40px;
            font-size: 0.8rem;
        }
    }
    .student {
       
        font-size: 1rem;
        
        min-height: 60px;
        max-width: 150px;
        
        margin-bottom: 12px;
    }
}