.lesson-info {
    margin-left: 16px;
    display: flex;
    text-align: center;
    align-items: center;
    min-height: 64px;
    min-width: 100%;
    font-size: 1rem;
    color: $colorDarck;

    &__subtitle {
        
        padding-left: 4px ;
        padding-right: 4px;
        min-height: 50px;
        
        align-items: center;
    }
    &__text {
        
        min-height: 50px;
        min-width: 55%;
    }
    &__paid {
        min-width: 30%;
        min-height: 50px;
        font-size: 1rem;
        padding: 2%;
        border-radius: 2cap;
       
    } 
    &__icon {
        
        padding-left: 24px;
    }
    
}
@media (max-width: 480px) {
    .lesson-info {
       
        font-size: 0.7rem;
        min-height: 34px;
    
        &__subtitle {
           
            min-height: 30px;
            font-size: 0.5rem;
        }
        &__text {
            
            min-height: 30px;
            min-width: 60%;
        }
        &__paid {
            min-width: 25%;
            min-height: 30px;
            font-size: 0.5rem;
            
           
        } 
        &__icon {
            
            padding-left: 24px;
        }
        
    }
}