@import 'vars';
@import 'header';
@import 'content';
@import 'addStudent';
@import 'infoStudent';
@import 'modal';
@import 'editStudent';
@import 'addLesson';
@import 'lessonInfo';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 24px;
}

body {
   /*  background-image: url(../image//image_background.jpg); */
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 1600px / 2);
    padding-right: calc(50% - 1600px / 2);
}

.content {
    background-color: $colorBackground;
    min-height: 800px;
    padding: 4% 8%;
    display: flex;
    
    gap: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: Lato;
}
@media (max-width: 767px) {
    .center{
        padding-left: calc(50% - 383px);
        padding-right: calc(50% - 383px);
    }
    .content{
        justify-content: center;
        flex-wrap: wrap;
        justify-content: center;
        &__left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width: 480px) {
    html {
        font-size: 20px;
    }
    .center{
        padding-left: calc(50% - 240px);
        padding-right: calc(50% - 240px);
    }
    .content{
        justify-content: center;
        flex-wrap: wrap;
        justify-content: center;
        &__left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    

}

